.App {
  width: 375px;
  height: 667px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
